{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    <form method="post" action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <div>
                {{ form.name.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label>Please enter your first name</label>
             {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            <div>
                {{ form.email.label }} 
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter your email address</label>
            {{ form.email(class="form-control", placeholder="jdoe@example.com") }}
        </div>
        <div class="form-group">
            <div>
                {{ form.subject.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter the subject of your message</label>
             {{ form.subject(class="form-control") }}
        </div>
        <div class="form-group">
            <div>
                {{ form.message.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter the message you would like to send</label>
             {{ form.message(class="form-control", id="textarea") }}
        </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}