{% extends 'base.html' %}

{% block main %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />  -->
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    <form method="post" action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="formlabel">
            <div>
                {{ form.name.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label>Please enter your full name</label>
            <div>
                {{ form.name(size=20) }}
            </div>
             <!-- {{ form.name(class="form-control") }} -->
        </div>
        <div class="formlabel">
            <div>
                {{ form.email.label }} 
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter your email address</label>
            <div>
                {{ form.email(size=20) }}
            </div>
            <!-- {{ form.email(class="form-control") }} -->
        </div>
        <div class="formlabel">
            <div>
                {{ form.subject.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter the subject of your message</label>
            <div>
                {{ form.subject(size=20) }}
            </div>
             <!-- {{ form.subject(class="form-control") }} -->
        </div>
        <div class="formlabel">
            <div>
                {{ form.message.label }}
                <label class = "required"> (Required)</label>
            </div>
            <label> Please enter the message you would like to send</label>
            <div>
                {{ form.message(size=20) }}
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}